<html>
    <head>
        <title>Blogs on pets</title>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
    
    </head>
    <body>
        <!--<p>From the header file</p>  error checking to ensure it works-->
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item">   <i class="leaf icon"></i> Blog4Pets</div>
                <a href="/" class="item">Home </a>
                 <a href="/blogs/new" class="item">New Post </a>
            </div>
            

        </div>
        
 